<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style src="./assets/tailwind.css"></style>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

</style>
